esf.version.scanToNet 4.3.15
esf.scanToNet.home.text "0"
esf.scanToNet.home.text.override ""
esf.scanToNet.home.iconUp "1"
esf.scanToNet.home.iconUp.override "iVBORw0KGgoAAAANSUhEUgAAAHgAAABLCAIAAAA06NSGAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAI+SURBVHhe7ZVLbuQwEEOT+x+oj9NHSYQyZcjUx+5FUQlA4i2mTdYAeouZr+/X2wiwaBEWLcKiRVi0CIsWYdEiLFqERYuwaBEWLcKiRVi0CIsWYdEiLFqERYuwaBEWLcKiRVi0CIsWYdEiFKJ/JqHZAhx8clLATReaacgVjZctQydDMH3sCOtl6CSbRNF40F3oqge7Gmp7sLsLXWWzWTSdDMG0htoe7JahEwFZovGgGmoLs+/EMaPQpgWLGmoLs+/ZKERT9RH4K66hTQsWEar28m9E059nYBGhai/b/ul4Ao4j/c8hqGuo3YhIdAkNnoDLSP9zCOomNNhFlugCHnoNbdbgpl7hR+Tc9GBxDW30JIou4JWj0LIHu8j6Yw8Wo9BSRq7oAt43Ci0JjCLrj0MwGoWWGtJFH+CJXWjWgkW3wddnvjDtQjMBItEHeOU1tDlAF3lezcD6GtpkIxV9grfWUFtAcRe6ugVnNdSmskd0AW+NUFVAcRe6egIuI1Sl8hdF4+uz0O0tOItQlYpFi8gSjadMHoOuZtFSdYAuMqvo+wG6GmpTSRd9m8UhVS1YRGbf12mvBKSIxlMehA4LKCJUtWARGX5c5zyRsVM0XR2gi1DVgkVk+HGRc68k9z9DvKwLzU5QR6jqwS6yqNrQTEmuaHNi0SIsWoRFi7BoERYtwqJFWLQIixZh0SIsWoRFi7BoERYtwqJFWLQIixZh0SIsWoRFi7BoERYtwqJFWLQIixZh0SIsWoRFi7BoCa/3L/tu8CF7cUj9AAAAAElFTkSuQmCC"
esf.scanToNet.home.iconDown "0"
esf.scanToNet.home.iconDown.override ""
esf.scanToNet.home.displayOption "0"
esf.scanToNet.scanToNet.instanceCounter "1"
esf.scanToNet.NTv4Compatibility "false"
esf.scanToNet.inst.1.appId "scanToNet"
esf.scanToNet.inst.1.instanceId "1"
esf.scanToNet.inst.1.name "SAS"
esf.scanToNet.inst.1.fileName "Informe aqui o numero da turma"
esf.scanToNet.inst.1.uEntrFileName "true"
esf.scanToNet.inst.1.fldrNav "false"
esf.scanToNet.inst.1.printConfm "1"
esf.scanToNet.inst.1.appTimeStmp "true"
esf.scanToNet.inst.1.ovrWrite "true"
esf.scanToNet.inst.1.enXmlInd "true"
esf.scanToNet.inst.1.fldrCrtn "false"
esf.scanToNet.inst.1.stUnameFldr "false"
esf.scanToNet.inst.1.emailTo ""
esf.scanToNet.inst.1.emailToSubject ""
esf.scanToNet.inst.1.emailToSubStatus "false"
esf.scanToNet.inst.1.showThumbnail "7"
esf.scanToNet.inst.1.scnPr "3"
esf.scanToNet.inst.1.autocrop.unlock "false"
esf.scanToNet.inst.1.autocrop "0"
esf.scanToNet.inst.1.despeckle.unlock "false"
esf.scanToNet.inst.1.despeckle "0"
esf.scanToNet.inst.1.deskew.unlock "false"
esf.scanToNet.inst.1.deskew "0"
esf.scanToNet.inst.1.autoBlankPageRemoval.unlock "false"
esf.scanToNet.inst.1.autoBlankPageRemoval "0"
esf.scanToNet.inst.1.autoBlankPageRemovalTolerance "5"
esf.scanToNet.inst.1.ocrAdjustments.language.en "1"
esf.scanToNet.inst.1.frenchOcrLanguage "0"
esf.scanToNet.inst.1.germanOcrLanguage "0"
esf.scanToNet.inst.1.spanishOcrLanguage "0"
esf.scanToNet.inst.1.italianOcrLanguage "0"
esf.scanToNet.inst.1.portugueseOcrLanguage "0"
esf.scanToNet.inst.1.danishOcrLanguage "0"
esf.scanToNet.inst.1.dutchOcrLanguage "0"
esf.scanToNet.inst.1.norwegianOcrLanguage "0"
esf.scanToNet.inst.1.swedishOcrLanguage "0"
esf.scanToNet.inst.1.finnishOcrLanguage "0"
esf.scanToNet.inst.1.hungarianOcrLanguage "0"
esf.scanToNet.inst.1.polishOcrLanguage "0"
esf.scanToNet.inst.1.ocrAdjustments.ocrAdditionalProcessing.unlock "false"
esf.scanToNet.inst.1.autoRotateOcr "0"
esf.scanToNet.inst.1.inverseDetectionOcr "1"
esf.scanToNet.inst.1.despeckleOcrOcr "0"
esf.scanToNet.inst.1.autoContrastEnhanceOcr "0"
esf.scanToNet.inst.1.childPrefix ""
esf.scanToNet.inst.1.customPromptEnable "false"
esf.scanToNet.inst.1.enable1stPageBarcode "false"
esf.scanToNet.inst.1.barcodeTemplate1st ""
esf.scanToNet.inst.1.enableOtherPageBarcode "false"
esf.scanToNet.inst.1.barcodeTemplateOther ""
esf.scanToNet.inst.1.customFilenameEnable "false"
esf.scanToNet.inst.1.customFilenameSelected ""
esf.scanToNet.inst.1.pageBreakEnable "false"
esf.scanToNet.inst.1.includePage "false"
esf.scanToNet.inst.1.pageBreakOptions "0"
esf.scanToNet.inst.1.staticBreakVal "0"
esf.scanner.inst.1.appId "scanToNet"
esf.scanner.inst.1.instanceId "1"
esf.scanner.inst.1.originalMediaSize.unlock "false"
esf.scanner.inst.1.originalMediaSize.dynamic "4"
esf.scanner.inst.1.orientation.unlock "false"
esf.scanner.inst.1.orientation "0"
esf.scanner.inst.1.scanDuplex.unlock "false"
esf.scanner.inst.1.scanDuplex "0"
esf.scanner.inst.1.contentType.unlock "false"
esf.scanner.inst.1.contentType.dynamic "0"
esf.scanner.inst.1.fileFormat.unlock "false"
esf.scanner.inst.1.fileFormat "20"
esf.scanner.inst.1.pdfVersion.unlock "false"
esf.scanner.inst.1.pdfVersion "3"
esf.scanner.inst.1.resolution.unlock "false"
esf.scanner.inst.1.resolution "300"
esf.scanner.inst.1.color.unlock "false"
esf.scanner.inst.1.color "0"
esf.scanner.inst.1.scanPreview.unlock "false"
esf.scanner.inst.1.scanPreview "0"
esf.scanner.inst.1.jobBuild.unlock "false"
esf.scanner.inst.1.jobBuild "0"
esf.scanner.inst.1.edgeToEdge.unlock "false"
esf.scanner.inst.1.edgeToEdge "0"
esf.scanner.inst.1.contrast.unlock "false"
esf.scanner.inst.1.contrast "-1"
esf.scanner.inst.1.darkness.unlock "false"
esf.scanner.inst.1.darkness "5"
esf.scanner.inst.1.shadowDetail.unlock "false"
esf.scanner.inst.1.shadowDetail "0"
esf.scanner.inst.1.backgroundRemoval.unlock "false"
esf.scanner.inst.1.backgroundRemoval "0"
esf.scanner.inst.1.parentCode ""
esf.ftp.inst.1.appId "scanToNet"
esf.ftp.inst.1.instanceId "1"
esf.ftp.inst.1.ftp.hName "10.12.4.107/digitalizacoes"
esf.ftp.inst.1.ftp.port "21"
esf.ftp.inst.1.ftp.ldapPathAttribute ""
esf.ftp.inst.1.ftp.ldapUseridAttribute "defaultUserIdAttr"
esf.ftp.inst.1.ftp.ldapPathSuffix ""
esf.ftp.inst.1.ftp.authOptions "3"
esf.ftp.inst.1.ftp.uName "multifuncional"
esf.ftp.inst.1.ftp.pwd ""
esf.ftp.inst.1.hName ""
esf.ftp.inst.1.port "-2147483648"
esf.ftp.inst.1.ldapPathAttribute ""
esf.ftp.inst.1.ldapUseridAttribute ""
esf.ftp.inst.1.ldapPathSuffix ""
esf.ftp.inst.1.authOptions "0"
esf.ftp.inst.1.uName ""
esf.ftp.inst.1.pwd ""
esf.ftp.inst.1.parentCode ""
